{% extends "layout.html" %}

{% block title %}
Index
{% endblock %}

{% block main %}
<div class="container-fluid bg-heading">
    <h1>TweetLike</h1>
</div>
<div class="container-fluid bg-info">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="container alert alert-{{ category }} alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <h3>Who do you want to tweet like?</h3>
    <form class="input-group" style="width:300px; margin: 0 auto;" action="{{ url_for('compose') }}" method="get">
        <input type="text" class="form-control" name="username" placeholder="Enter a twitter username">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Go!</button>
      </span>
    </form>
</div>
<div class="container-fluid bg-text">
    <h2>How it works</h2>
    <br>
    <p>It's simple. Enter the twitter handle of the person you want to tweet like and you'll be given a list of words they've used in recent tweets to compose a tweet with.</p>
</div>
{% endblock %}